@import url("https://use.typekit.net/rxm3zzg.css");
@import url("https://unpkg.com/@csstools/normalize.css");

html {
  scroll-behavior: smooth;
}

aside {
  margin: 0;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-family);
  line-height: var(--line-height);
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

* {
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  font-smooth: auto;
}

.container {
  padding: 1rem;
  background: var(--color-bg-secondary);
  box-shadow: 0px 0px 2px #2b21265a;
  margin-bottom: 3rem;
}

sup {
  background: #00000000;
  padding: 0;
  font-weight: bold;
}

article sup a {
  font-weight: bold;
  font-size: 0.8rem;
}

hr {
  height: 1px;
  border: none;
  margin: 0.5rem 0;
  background: var(--color-accent);
}

h1 a {
  font-weight: normal;
}

a {
  color: var(--color-link);
}

a:hover {
  filter: brightness(var(--hover-brightness));
}

a:active {
  filter: brightness(var(--active-brightness));
}

article a {
  font-weight: normal;
  text-decoration: none;
}

article {
  font-size: 1.2rem;
}

article h1 code {
  font-weight: bold;
}

small {
  color: var(--color-text);
}

h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
  font-weight: bold;
  background: #00000000;
}

h2 a code,
h3 a code,
h4 a code,
h5 a code,
h6 a code {
  font-weight: normal;
}

article h2,
article h3 {
  margin: 1rem 0;
}

article p + h2,
article p + h3,
article p + h4,
article p + h5,
article p + h6 {
  margin: 0 0 var(--paragraph-spacing) 0;
}

article h4,
article h5,
article h6 {
  margin: 0.5rem 0;
}

h1 a,
h1 a code {
  text-decoration: none;
  color: var(--color-text);
}

h2 a {
  text-decoration: none;
  text-shadow: 0px 0px 4px #af447811;
}

h1 {
  font-family: "dejanire-text", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 2rem;
  line-height: 2rem;
  margin: 1rem 0;
}

code {
  font-family: var(--monofont);
  color: var(--color-table);
  background: var(--color-bg-secondary);
  padding: 0;
  font-weight: normal;
}

article p {
  margin: var(--paragraph-spacing) 0;
}

p code {
  font-size: 1rem;
  font-weight: bold;
  background: #00000000;
}

a code {
  color: var(--color-link);
  background: #00000000;
  padding: 0 0.4rem;
  margin-left: -0.4rem;
}

h1 code {
  padding: 0 0.4rem;
  margin-left: -0.4rem;
  color: var(--color-text);
  background: #00000000;
}

pre {
  tab-size: 2;
  box-shadow: var(--box-shadow);
  background: var(--color-bg-secondary);
  margin-left: -2rem;
  padding-right: 3rem;
  width: 100%;
  max-width: 100% !important;
  font-weight: bold;
  overflow-x: auto;
}

pre code {
  padding: 0rem 2rem;
  text-wrap: nowrap;
  background: #00000000;
  color: var(--color-text);
  font-size: 1rem;
  display: block;
  max-width: var(--width-card-wide);
}

header {
  text-align: left;
}

header h1 {
  line-height: 3rem;
}

footer,
header,
main {
  padding: 0;
}

a.tag {
  text-decoration: none;
  display: inline-block;
  background-color: var(--color-bg-secondary);
  color: #0f0f10e6;
  padding: 2px 0.5rem;
  box-shadow: 0px 0px 4px #af447811;
  margin-right: 0.5rem;
  border-radius: 4px;
}

a:hover {
  text-decoration: underline;
}

/* Scrollbars */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-scrollbar) transparent;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar);
  border-radius: 10px;
}

.post-body h2,
.post-body h3,
.post-body h4,
.post-body h5,
.post-body h6 {
  font-variant-caps: titling-caps;
}

/* sup */
.post-body > p:first-of-type::first-letter,
.section-break + p::first-letter {
  margin: 0 0.4rem 0 0;
  -webkit-initial-letter: 2;
  initial-letter: 2;
}

.prologue {
  font-style: italic;
  color: var(--color-text);
}

.footnote {
  font-size: 1rem;
  color: var(--color-text-secondary);
}

.footnote.current {
  animation: highlight 2s;
  animation-fill-mode: forwards;
}

#footnote-1 {
  margin-top: var(--paragraph-spacing);
}

@keyframes highlight {
  0% {
    color: var(--color-text-secondary);
  }

  100% {
    color: var(--color-text);
  }
}

.footnote br {
  margin-top: 0.6rem;
  display: block;
}

.post-row {
  margin-bottom: 1rem;
}

.post-row h2 {
  margin: 0;
}

.post-row h2 a {
  display: inline-block;
}

.post-row p {
  margin: 0;
}

.post-row time {
  font-size: 0.8rem;
  color: var(--color-text-secondary);
}

.posts-header-label {
  margin-bottom: 0.5rem;
}

.site-name {
  font-weight: normal;
  font-family: "dejanire-text", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

/* Utility */

.subdue {
  /* filter: brightness(85%); */
  filter: saturate(40%);
  opacity: 0.7;
}

footer {
  margin-top: 1rem;
  font-size: 1rem;
}

footer hr {
  margin-bottom: 2rem;
}

.footnote {
  display: flex;
  flex-direction: row;
}

.footnote .footnote-number {
  display: block;
  width: 0.8rem;

  text-align: right;
  padding-right: 0.4rem;
}

.footnote p {
  margin-top: 0;
}

.footnote br {
  width: auto;
}

.footnote .back,
.footnote .back small {
  color: var(--color-text-secondary);
}

.footnote.current .back,
.footnote.current .back small {
  color: var(--color-secondary);
}

.footnote .back {
  margin-top: var(--paragraph-spacing);
  display: block;
}

@keyframes collapse {
  0% {
    max-height: 1000px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    transform: rotate3d(0, 0, 0, 90deg);
    /* transform: scaleX(0deg) scaleY(0deg) scaleZ(0deg); */
  }

  100% {
    max-height: 0;
    margin-top: 0;
    margin-bottom: 0;
    transform: rotate3d(2, 0, 0, 90deg);
    /* transform: scaleX(0deg) scaleY(0deg) scaleZ(0deg); */
  }
}

@keyframes expand {
  0% {
    max-height: 0;
    margin-top: 0;
    margin-bottom: 0;
    transform: rotate3d(2, 0, 0, 90deg);
    /* transform: scaleX(0deg) scaleY(0deg) scaleZ(0deg); */
  }

  100% {
    max-height: 1000px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    transform: rotate3d(0, 0, 0, 90deg);
    /* transform: scaleX(0deg) scaleY(0deg) scaleZ(0deg); */
  }
}

.has-code-note {
  background: #a7e2ff16;
  color: var(--color-text);
  position: relative;
}

.has-code-note:active {
  filter: brightness(var(--active-brightness));
}

.code-note-content {
  width: 100%;
  white-space: normal;
  font-family: var(--font-family);
  padding-left: 0rem;
  display: flex;
}

.code-note {
  overflow-y: hidden;
  max-height: 0;
  margin-right: 0;
  margin-top: -0.4rem;
  padding: -0.2rem 0;
  transform-origin: top;
  position: relative;
  background: #a7e2ff16;
}

.code-note.expanded {
  animation-name: expand;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.code-note.collapsed {
  animation-name: collapse;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.code-note-code {
  cursor: pointer;
}

.code-note-button {
  display: none;
  color: var(--color-text);
  cursor: pointer;
  margin-left: 0.2rem;
  font-family: var(--font-family);
  background: var(--color-bg-secondary);
  font-size: 0.8rem;
  padding: 0.2rem;
  position: absolute;
  z-index: 10;
}

.code-note-button::after {
  content: " Comment";
}

.code-note-container {
  z-index: 1;
}

.code-note-container:hover .code-note-button {
  display: inline-block;
}

.code-note-container:hover .has-code-note {
  background: #a7e2ff2f;
}

.code-note-button:active {
  transform: scale(0.95);
}

.code-note-indentation {
  font-family: var(--monofont);
  white-space: break-spaces;
  font-size: 1rem;
  float: left;
  height: 100%;
  padding: 0;
  margin: 0;
}

.code-note p {
  margin: calc(var(--paragraph-spacing) / 4) 0;
}

:root[color-mode="user"] {
  --monofont: "SF Mono", SFMono-Regular, ui-monospace, "DejaVu Sans Mono", Menlo,
    Consolas, monospace;
  --paragraph-spacing: 1.4rem;
  --active-brightness: 0.85;
  --border-radius: 0;
  --box-shadow: 0px 0px 2px #00000033;
  --color-accent: #ece5f0;
  --color-bg: #add7d70f;
  --color-bg-secondary: #fff;
  --color-link: #e6006f;
  --color-secondary: #920de9;
  --color-secondary-accent: #920de90b;
  --color-shadow: #f4f4f4;
  --color-table: #1a8089;
  --color-text: #000;
  --color-text-secondary: #757575;
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --hover-brightness: 1.2;
  --justify-important: center;
  --justify-normal: left;
  --line-height: 1.5;
  --width-card: 285px;
  --width-card-medium: 460px;
  --width-card-wide: 800px;
  --width-content: 1080px;

  font-family: var(--font-family);
}

@media (prefers-contrast: more) {
  :root[color-mode="user"] {
    --active-brightness: 0.85;
    --border-radius: 0;
    --box-shadow: 0px 0px 2px #00000033;
    --color-accent: #ece5f0;
    --color-bg: #ffffff;
    --color-bg-secondary: #fafafa;
    --color-link: #e7006f;
    --color-secondary: #920de9;
    --color-secondary-accent: #920de90b;
    --color-shadow: #f4f4f4;
    --color-table: #368187;
    --color-text: #000;
  }

  code {
    font-weight: bold;
  }
}

.keyword {
  color: #e6006f;
}

.type {
  color: #038282;
}

.call {
  color: #455570;
}

.string {
  color: #dd257e;
}

.number {
  color: #937100;
}

.comment {
  color: #757575;
}

.property {
  color: #238282;
}

.dotAccess {
  color: #0d8484;
}

.preprocessing {
  color: #f19c79;
}

@media (prefers-color-scheme: dark) {
  :root[color-mode="user"] {
    --color-text: white;
    --color-link: #ff007b;
    --color-secondary: #cce0ff;
    --color-bg: #010103;
    --color-bg-secondary: #19191e;
    --color-text-secondary: #7d7d7d;
    --color-accent: #303038;
    --color-table: #00eaff;
  }

  .container {
    background: #8fa7c81b;
  }

  a.tag {
    color: var(--color-text);
  }

  .keyword {
    color: #ff007b;
  }

  .type {
    color: #23e8e8;
  }

  .call {
    color: #43bccd;
  }

  .string {
    color: #ff3798;
  }

  .number {
    color: #ffc914;
  }

  .comment {
    color: #848484;
  }

  .property {
    color: #51f5f5;
  }

  .dotAccess {
    color: #43c4c4;
  }

  .preprocessing {
    color: #f19c79;
  }
}

/* Desktop styles */
@media only screen and (min-width: 968px) {
  main {
    margin-left: 4rem;
  }

  h1 {
    font-size: 4rem;
    background: #00000000;
    margin: 2.2rem 0;
    line-height: 4.6rem;
  }

  header h1 code {
    background: #00000000;
  }

  article {
    max-width: 800px;
  }

  .footnote .footnote-number {
    margin-left: -1.2rem;
  }

  .container {
    max-width: 800px;
    padding: 1rem 3rem;
  }

  .post-row h2 {
    font-size: 2rem;
  }

  .code-note {
    margin-top: -0.2rem;
  }

  @keyframes collapse {
    from {
      max-height: 1000px;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      transform: rotate3d(0, 0, 0, 90deg);
    }

    to {
      max-height: 0;
      margin-top: 0;
      margin-bottom: 0;
      transform: rotate3d(2, 0, 0, 90deg);
    }
  }

  @keyframes expand {
    from {
      max-height: 0;
      margin-top: 0;
      margin-bottom: 0;
      transform: rotate3d(2, 0, 0, 90deg);
    }

    to {
      max-height: 1000px;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      transform: rotate3d(0, 0, 0, 90deg);
    }
  }

  pre {
    padding: 0 5rem 0 3rem;
    margin: 0 -4rem;
  }

  pre code {
    padding: 1rem 1rem;
  }
}
